@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 255, 255, 255;
  /* Farbe für den Text */
  --background-start-rgb: 0, 0, 0;
  /* Startfarbe für den Hintergrund */
  --background-end-rgb: 0, 0, 0;
  /* Endfarbe für den Hintergrund */

  --primary-glow: radial-gradient(rgba(90, 1, 255, 0.4), rgba(1, 65, 255, 0));
  /* Primärer Leuchteffekt */
  --secondary-glow: linear-gradient(to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(98, 1, 255, 0.3));
  /* Sekundärer Leuchteffekt */

  --tile-start-rgb: 2, 13, 46;
  /* Startfarbe für Kacheln */
  --tile-end-rgb: 2, 5, 19;
  /* Endfarbe für Kacheln */
  --tile-border: conic-gradient(#ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80);
  /* Kachelgrenze */

  --callout-rgb: 20, 20, 20;
  /* Hintergrundfarbe für Callouts */
  --callout-border-rgb: 108, 108, 108;
  /* Grenzfarbe für Callouts */
  --card-rgb: 100, 100, 100;
  /* Kartenhintergrund */
  --card-border-rgb: 200, 200, 200;
  /* Kartenrand */
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

/* CSS Utils */
.h1 {
  padding-bottom: 1.5rem;
  line-height: 1.5;
  font-size: 1.125rem;
}

.h2 {
  font-size: 14px;
  font-weight: 500;
}

.link {
  @apply text-purple-500 cursor-pointer hover:opacity-80 transition-opacity duration-200 ease-in-out;
}

.text-gradient {
  background: linear-gradient(91.58deg, #2250F2 -29.55%, #0EBCF3 75.22%);
}

.dark {
  --foreground-rgb: 0, 0, 0;
  /* Farbe für den Text im Dunkelmodus */
  --background-start-rgb: var(--tile-start-rgb);
  /* Startfarbe für den Hintergrund im Dunkelmodus */
  --background-end-rgb: var(--tile-end-rgb);
  /* Endfarbe für den Hintergrund im Dunkelmodus */
}